# Send the file of deleted records to OCLC
00 21 * * 0 /software/WYLD/Unicorn/Bincustom/sendoclcdel.sh 2>&1

# Send the file of new records added to OCLC
45 22 5 * * /software/WYLD/Unicorn/Bincustom/oclcmonthly.sh 2>&1

# Send the file of new original records to OCLC
45 22 4 * * /software/WYLD/Unicorn/Bincustom/originalcatalogingmonthly.sh 2>&1
